# dependencies
node_modules

.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

expo-env.d.ts
# @end expo-cli
